# LangChain core 
langchain 
langchain-core

#OpenAI Integration
langchain-openai


#Anthropic Integration
langchain-anthropic

# Google Gemini (PeLM) I Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities 
numpy 
scikit-learn
